.conteiner {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.etheriumDiv {
    display: flex;
    gap: 5px;
}
.price {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;
}
.time {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
}
@media only screen and (max-width: 375px) {
    .price {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
    }
    .time {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
    }
}